AddDefaultCharset UTF-8
Options -Indexes
DefaultLanguage en

<IfModule mod_rewrite.c>

  RewriteEngine on
  RewriteBase /

  # remove www and add https
  # RewriteCond %{HTTP_HOST} ^www.example.com$ [NC]
  # RewriteRule ^(.*)$ https://example.com/$1 [R=301,L]

  # force https
  # RewriteCond %{HTTPS} off
  # RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^.*$ /index.php [L,QSA]

  FallbackResource /index.php

</IfModule>

<IfModule mod_mime.c>
  AddType text/html .html
  AddType application/json .json
  AddType application/xml .xml

  AddType text/css .css
  AddType text/javascript .js

  AddType image/jpeg .jpeg .jpg .JPG
  AddType image/png .png
  AddType image/svg+xml .svg
  AddType image/x-icon .ico
  AddType image/tiff .tiff .tif
  AddType image/gif .gif

  AddType application/x-font-woff .woff
  AddType application/x-font-woff .woff2
  AddType font/truetype .ttf
  AddType font/opentype .otf
  AddType font/eot .eot
</IfModule>

<IfModule mod_deflate.c>

  <FilesMatch "\.(txt|html|md|css|js|json|xml)$" >
    SetOutputFilter DEFLATE
  </FilesMatch>

  <FilesMatch "\.(woff|woff2|ttf|otf|eot|svg)$" >
    SetOutputFilter DEFLATE
  </FilesMatch>

</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On

  ExpiresByType text/html "access 10 minutes"
  ExpiresByType application/json "access 10 minutes"
  ExpiresByType application/xml "access 10 minutes"

  ExpiresByType text/css "access 10 minutes"
  ExpiresByType text/javascript "access 10 minutes"

  ExpiresByType image/jpeg "access 1 day"
  ExpiresByType image/png "access 1 day"
  ExpiresByType image/svg+xml "access 1 day"
  ExpiresByType image/x-icon "access 1 day"
  ExpiresByType image/tiff "access 1 day"
  ExpiresByType image/gif "access 1 day"

  ExpiresByType application/x-font-woff "access 1 year"
  ExpiresByType font/truetype "access 1 year"
  ExpiresByType font/opentype "access 1 year"
  ExpiresByType font/eot "access 1 year"

  ExpiresDefault "access 1 day"
</IfModule>
